{% extends 'layout.html' %}

{% block title %} CAlculate Current Asset {% endblock title%}
{% block content%}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-8 justify-content-center">
            <form method='POST'>
                {{ form.hidden_tag() }}      
                <h4>Modify Liability Info</h4>       

                <div class="card-header">
                    <h4>Current Liabilities</h4>
                </div>
                
                <div class="form-group">
                    <fieldset id="accounts_payable-field">
                        <b> {{form.new_accounts_payable.label}}:</b> 
                        {{form.new_accounts_payable(class="form-control",placeholder="Accounts Payable ...")}}
                    </fieldset>
                    <fieldset id="accrued_wages-field">
                        <b>{{form.new_accrued_wages.label}} :</b>
                        {{form.new_accrued_wages(class="form-control",placeholder="Accrued Wages ...")}}
                    </fieldset>

                    <fieldset id="accrued_payroll_taxes-field">
                        <b>{{form.new_accrued_payroll_taxes.label}}:</b> 
                        {{form.new_accrued_payroll_taxes(class="form-control",placeholder="Accrued Payroll Taxes ...")}}
                    </fieldset>

                    <fieldset id="accrued_employee_benefit-field">
                        <b>{{form.new_accrued_employee_benefit.label}} :</b>
                        {{form.new_accrued_employee_benefit(class="form-control", placeholder="Accrued Employee Benefit
                        ...")}}
                    </fieldset>

                    <fieldset id="interest_payable-field">
                        <b>{{form.new_interest_payable.label}} :</b> 
                        {{form.new_interest_payable(class="form-control",placeholder="Interest Payable...")}}
                    </fieldset>

                    <fieldset id="short_term_notes-field">
                        <b>{{form.new_short_term_notes.label}} :</b> 
                        {{form.new_short_term_notes(class="form-control",placeholder="Short Term Notes ...")}}
                    </fieldset>

                    <fieldset id="deferred_income-field">
                        <b>{{form.new_deferred_income.label}} :</b> 
                        {{form.new_deferred_income(class="form-control",placeholder="Deferred Income ...")}}
                    </fieldset>                    
                </div>

                
                <div class="card-header">
                    <h5>Long Term Liability</h5>
                </div>
                

                <div class="form-group">
                    <fieldset id="accounts_payable-field">
                        <b> {{form.new_mortgage.label}}:</b> 
                        {{form.new_mortgage(class="form-control",placeholder="Mortgage...")}}
                    </fieldset>
                    <fieldset id="other_long_term_liabilities-field">
                        <b>{{form.new_other_long_term_liabilities.label}} :</b> 
                        {{form.new_other_long_term_liabilities(class="form-control",placeholder="other_long_term_liabilities ...")}}
                    </fieldset>                 
                    <br>                         
                    <br>
                    {{form.submit(class="btn btn-block btn-info")}}
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock content%}