
  h3{
      color: rgb(94, 4, 4);
  }

  h5{
      color: rgb(3, 3, 61);
  }

  h6{
      color: rgb(63, 5, 75);
  }

body{
    background-color: rgb(225, 236, 236);
    background-image: url("https://cdn.hipwallpaper.com/i/62/85/urQZMF.jpg");
}

#pic{
    margin-top: 1cm;
}

main{
    width: 50%;
    float: right;
    height: 100%;
    padding left :  25 px ;   
}

side{
    width: 50%;
    float: left;
    height: 100%;
    padding right:25px;
}


#total{
    text-align: right;
}