{% extends 'layout.html' %}

{% block title %} {{current_user.username}} {% endblock title%}
{% block content%}


<div class="row justify-content-center">
    <div class="col-4">
        <h3>Change Password</h3>
        <form method='POST'>
            {{ form.hidden_tag() }}

            <div class="form-group">
                <fieldset id="username-field">
                    {{form.username.label}}
                    {{form.username(class="form-control", placeholder="Username ...")}}
                </fieldset>
                <fieldset id="password-field">
                    {{form.newpassword.label}}
                    {{form.newpassword(class="form-control",placeholder="New Password...")}}
                </fieldset>

                <fieldset id="password-field">
                    {{form.confirm_newpassword.label}}
                    {{form.confirm_newpassword(class="form-control",placeholder=" Confirm newPassword...")}}
                </fieldset>

                <br>
                {{form.submit(class="btn btn-block btn-info")}}
            </div>
        </form>
    </div>
</div>

{% endblock content %}